@import "../../styles/config";

#projects {
  padding: 150px 80px 0 80px;
}
.projects-container h2 {
  font-size: 80px;
  color: $purple-color;
  font-weight: 500;
}
.works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
  padding-top: 50px;
  a {
    text-decoration: none;
  }
  div {
    max-width: 300px;
    text-align: center;
    background: lighten($black-color, 15%);
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
  }
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding-bottom: 10px;
  }
  i {
    font-size: 22px;
    padding-right: 10px;
    color: $purple-color;
  }
  div:hover {
    background-color: $hover-container-color;
    transform: translateY(-10px);
    box-shadow: 4px 4px 8px $gray-color;
  }
}
.work-name {
  color: $purple-color;
  font-size: 25px;
  padding-bottom: 10px;
}
.work-description {
  color: $primary-color;
  font-size: 20px;
  padding: 10px 10px;
}

// MEDIA QUERIES //
@media (max-width: 750px) {
  #projects {
    padding: 150px 30px 0 30px;
  }
  .projects-container h2 {
    text-align: center;
    padding-top: 0;
  }
  .works-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    padding-top: 40px;
  }
}
@media (min-width: 750.02px) and (max-width: 1400px) {
  #projects {
    padding: 150px 30px 0 30px;
  }
  .projects-container {
    text-align: center;
    h2 {
      padding-top: 100px;
    }
  }
  .works-list {
    row-gap: 20px;
    padding-top: 40px;
    img {
      max-width: 100%;
    }
  }
}
@media (min-width: 1400.02px) and (max-width: 2100px) {
}
