$font-stack: Roboto, Arial;
$black-color: #000;
$primary-color: #fff;
$purple-color: #a375ff;
$container-color: rgb(6, 0, 12);

.cvnavbar {
  display: flex;
  align-items: center;
  padding: 0 100px 0 100px;
  width: 100%;
  background-color: $black-color;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  border: solid 0 #262626;
  border-bottom-width: 1px;
  z-index: 100;
  img {
    width: 180px;
  }
  li {
    display: inline-block;
    list-style: none;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 40px;
    position: relative;
  }
  li:active {
    transform: scale(0.95);
  }
  .nav-logo {
    padding-left: 40%;
  }
}

// MEDIA QUERIES //
@media (max-width: 750px) {
  .cvnavbar {
    padding: 0 5% 0 5%;
    img {
      width: 150px;
    }
    li {
      display: block;
    }
    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 30px;
      position: relative;
      padding: 20px;
    }
  }
}
@media (min-width: 750.02px) and (max-width: 1800px) {
  .cvnavbar {
    padding: 0 50px 0 100px;
    img {
      width: 180px;
    }
    li {
      display: block;
    }
    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 40px;
      position: relative;
      padding: 10px;
    }
  }
}
