@import "../../styles/config";

#skills {
  padding: 150px 80px 0 80px;
}
.skills-container h2 {
  font-size: 80px;
  color: $purple-color;
  font-weight: 500;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
  padding-top: 50px;
  div {
    text-align: center;
    background: lighten($black-color, 15%);
    padding: 15px 10px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
  }
  i {
    color: $purple-color;
    font-size: 45px;
    padding-bottom: 30px;
  }
  p {
    color: $primary-color;
    font-size: 23px;
  }
}

// MEDIA QUERIES //
@media (max-width: 750px) {
  #skills {
    padding: 150px 30px 0 30px;
  }
  .skills-container h2 {
    padding-top: 0;
    color: $purple-color;
  }
  .skills-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 40px;
    div {
      padding: 10px;
    }
    i {
      padding-bottom: 10px;
    }
    p {
      font-size: 20px;
    }
  }
}
@media (min-width: 750.02px) and (max-width: 1400px) {
  #skills {
    padding: 150px 30px 0 30px;
  }
  .skills-container {
    text-align: center;
    h2 {
      padding-top: 0;
      font-size: 80px;
      color: $purple-color;
    }
  }
  .skills-list {
    row-gap: 20px;
    padding-top: 40px;
  }
}
@media (min-width: 1400.02px) and (max-width: 2100px) {
}
