@import "../../styles/config";

#about {
  display: flex;
  padding: 150px 80px 0 80px;
  width: 100%;
}
.left-about-section {
  display: flex;
  width: 50%;
  overflow: hidden;
  justify-self: center;
  align-items: center;
  padding-top: 10%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.right-about-section {
  justify-self: center;
  width: 100%;
  padding-left: 10%;
  h2 {
    text-align: center;
    padding-top: 200px;
    font-size: 80px;
    font-weight: 500;
    color: $purple-color;
  }
  a {
    text-decoration: none;
  }
}
.about-description {
  text-align: left;
  padding-top: 30px;
  font-size: 30px;
  span {
    color: $purple-color;
  }
}

// MEDIA QUERIES //
@media (max-width: 750px) {
  #about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 150px 30px 0 30px;
    width: 100%;
  }
  .left-about-section {
    overflow: hidden;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right-about-section {
    text-align: center;
    padding-left: 0;
    h2 {
      padding-top: 100px;
    }
  }
}
@media (min-width: 750.02px) and (max-width: 1400px) {
  #about {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .left-about-section img {
    width: 100%;
    height: 100%;
  }
  .right-about-section {
    text-align: center;
    padding-left: 0;
    h2 {
      padding-top: 100px;
    }
  }
}
@media (min-width: 1400.02px) and (max-width: 2100px) {
  #about {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .left-about-section img {
    width: 100%;
    height: 100%;
  }
  .right-about-section {
    text-align: center;
    padding: 0;
  }
}
